<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/karta.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/notes.css">

  <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
  <title>Kontakty - PASS-SK</title>
  <style>


	</style>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/">
          <img src="../images/Logo.png" alt="">
        </a>
      </div>
      <div class=" ">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="mailto:daniel.vajda@pass-sk.com?Subject=Zmena%20údajov%20v%20Pass-Kontakty">Žiadosť o zmenu údajov</a></li>
          <li><a href="/Telefonný zoznam.pdf">Stiahnúť zoznam</a></li>

        </ul>
      </div>

    </div>
  </nav>
  <div class="deco topdeco">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
